<li [ngClass] = "{'list-group-item' : true, 'list-group-item-success' : appareilStatus === 'allumé', 'list-group-item-warning': appareilStatus === 'éteint'}">

  <h4 [ngStyle] = "{color : getColor()}" >Ceci est une {{ appareilName }} -- Statut: {{ appareilStatus }} </h4>
  <!--<a [routerLink]="['/appareils/' + id ]">Détail</a>-->
  <a [routerLink]="id">Détail</a>
  <button  class = "btn btn-success"
           [disabled] = "appareilStatus === 'allumé'"
           (click) = "onSwitch()"> Allumer </button>
  <button  class = "btn btn-danger"
           [disabled] = "appareilStatus === 'éteint'"
           (click) = "onSwitch()"> Eteindre </button>

</li>

