<h2> Authentification</h2>
<button class="btn btn-lg btn-success"
        *ngIf = "!authStatus"
        (click) ="onSignIn()"> Connexion </button>

<button class="btn btn-lg btn-danger"
        *ngIf = "authStatus"
        (click) ="onSignOut()"> Déconnexion </button>
