<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">MonPremierProjet</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive = "active" routerLink="auth"> Auth</a>
        <a class="nav-item nav-link" routerLinkActive = "active" routerLink="users"> Users </a>
        <a class="nav-item nav-link" routerLinkActive = "active" routerLink="appareils"> Appareils </a>
        <a class="nav-item nav-link" routerLinkActive = "active" routerLink="edit"> Edit </a>
      </div>
</nav>

<div class="navbar-right">
  <p>Vous êtes connecté depuis {{ secondes }} secondes !</p>
</div>

<div class="container">

      <router-outlet></router-outlet>

</div>



