
  <h2>Mes appareils</h2>

  <p> Mis à jour : {{ lastUpdate | async | date : 'short' | uppercase }}</p>

  <ul class="list-group">
    <app-appareil *ngFor = "let appareil of appareils; let i = index"
                  [appareilName] = "appareil.name"
                  [appareilStatus] = "appareil.status"
                  [indexOfAppareil] = "i"
                  [id] = "appareil.id"></app-appareil>
  </ul>

  <button  class = "btn btn-success"

           (click) = "onAllumer()"> Allumer les appareils </button>

  <button  class = "btn btn-danger"

           (click) = "onEteindre()"> Eteindre les appareils </button>

  <button  class = "btn btn-success"

           (click) = "onSave()"> Enregistrer les appareils </button>

  <button  class = "btn btn-success"

           (click) = "onFetch()"> Charger les appareils </button>


